.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-footer);
}

.footer-heading {
    width: 50%;
    text-align: center;
    margin-bottom: 3rem;
    /* border: 2px solid white; */
}

.footer-heading>h1 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;    
    letter-spacing: -0.04em;
    text-align: center;
}

.footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
}

.footer-btn>button {
    background: transparent;
    padding: 1rem;
    border: 1px solid white;
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 21px;
    color: white;
    word-spacing: 2px;
    cursor: pointer;
}



.copyright>h5 {
    margin: 5rem 0 0 0;
    font-family: 'Gilroy-Medium';
    font-size: 12px;
    line-height: 14px;
    font-feature-settings: 'liga' off;
    color: white;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
}


.footer-content>div {
    color: white;
    width: 250px;
    margin: 1rem;
    padding: 0rem;
}

.links-logo {
    display: flex;
    flex-direction: column;
}

.links-logo>img {
    width: 118px;
    height: 30px;
    margin-bottom: 1rem;
}

.footer-links>h4 {
    padding: 1.5rem 1rem;
}

.footer-links>p {
    padding: 1rem;
}